<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Addresses</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="../Hospital Information System - mini.png" />
    <link th:rel="stylesheet" th:href="@{/css/base.css}">

</head>
<style>
    #first{
        background-color: rgba(24,31,151,0.10);
        color: rgba(24,31,151,0.93);
    }

    .addresses-container{
        padding-top: 100px;
    }

    .invalid input:required:invalid {
        background: #BE4C54;
    }

    #address-head tr th {
        text-align: center;
    }
    .address-table tr td {
        text-align: center;
        vertical-align: middle;
    }

    .modal-32p {
        width:32%; /* 80% of page to provide space for labels */
    }
    .modal-title {
        font-weight: bold;
    }


</style>
<body>
<nav class="navbar navbar-expand-sm fixed-top" id="nav1">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main_admin}">
            <img src="../Hospital Information System3.png" alt="" class="img-responsive" style="height: 80px"></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <i><span class="material-symbols-rounded">menu</span></i>
        </button>
        <div class="collapse navbar-collapse" id="nav2">
            <ul class="navbar-nav ml-auto" style="padding-left: 25px; padding-right: 25px; padding: 10px 10px;
                vertical-align: middle; display: inline-block">
                <li class="nav-item">
                    <a class="nav-link" title="Check your profile" th:inline="text" th:href="@{/admin/admin_profile}">
                        <span class="material-symbols-rounded" style="vertical-align: bottom; font-size: 32px">admin_panel_settings</span>
                        <b style="text-transform:capitalize; padding: 10px 10px;
                            vertical-align: middle; margin-left: 0">[[${#httpServletRequest.userPrincipal.principal.firstname}]] [[${#httpServletRequest.userPrincipal.principal.surname}]]</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-danger" th:href="@{/login}">
                        <i class="material-symbols-rounded" title="Log out" id="logout" onclick="successfullyLogout()">logout</i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<input type="checkbox" id="check">
<label for="check">
    <i><span class="material-symbols-rounded" id="btn">menu</span></i>
    <i></i><span class="material-symbols-rounded" id="close">close</span></i>
</label>
<div class="sidebar">
    <a class="prof" title="Check your profile" th:href="@{/admin/admin_profile}">
        <header>
            <b><img src="../undraw_pic_profile_re_7g2h.svg" alt="" style="height: 45%"></b>
            <br><br>
            <b style="text-transform:capitalize">[[${#httpServletRequest.userPrincipal.principal.firstname}]] [[${#httpServletRequest.userPrincipal.principal.surname}]]</b>
        </header>
    </a>
    <br>
    <ul>
        <li class="list">
            <a class="active" th:href="@{/admin/admin_users}">
                <span class="material-symbols-rounded" style="font-size: 30px; vertical-align: middle !important; ">group</span>
                Users
            </a>
        </li>
        <li class="list" id="pp">
            <a class="active" th:href="@{/admin/admin_patients}">
                <span class="material-symbols-rounded" style="font-size: 30px; vertical-align: middle !important;">patient_list</span>
                Patients
            </a>
        </li>
        <li class="list">
            <a class="active" id="first">
                <span class="material-symbols-rounded" style="font-size: 30px; vertical-align: middle !important;">location_city</span>
                Addresses
            </a>
        </li>
    </ul>

</div>

<div class="container">
    <div class="addresses-container" id="address" style="display: block; width: 100%">
        <table class="table table-striped address-table" style="border-spacing: 0">
            <thead id="address-head">
            <tr>
                <th>ID</th>
                <th>Street</th>
                <th>House number</th>
                <th>Apartment number</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Country</th>
                <th class="text-right" >Actions</th>
            </tr>
            </thead>
            <tbody id="addressesData">

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editAddress" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true" style="max-height: 100vh">
        <div class="modal-dialog modal-lg modal-32p" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAddressLabel">Edit Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="row" style="align-items:center; padding-left: 35px">
                            <div class="form-group" >
                                <label for="addressidu">ID</label>
                                <input type="text" class="form-control" required="required"
                                       readonly= readonly id="addressidu" style="width: 100px;">
                                <br>
                                <label for="streetu">Street</label>
                                <input type="text" class="form-control" id="streetu" style="width: 370px;"
                                pattern=".{1,60}" title="max length: 60" required="required"
                                       oninvalid="this.setCustomValidity('Please fill in this field')"
                                       oninput="this.setCustomValidity('')">
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="housenumberu">House number</label>
                                        <input type="text" class="form-control" id="housenumberu" style="width: 150px;"
                                        pattern=".{1,8}" title="max length: 8" required="required"
                                               oninvalid="this.setCustomValidity('Please fill in this field')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="col">
                                        <label for="apartmentnumberu">Apartment number</label>
                                        <input type="text" class="form-control" id="apartmentnumberu" style="width: 150px;"
                                        pattern=".{0,8}" title="max length: 8">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="cityu">City</label>
                                        <input type="text" class="form-control" id="cityu"
                                        pattern=".{1,190}" title="max length: 190" required="required"
                                               oninvalid="this.setCustomValidity('Please fill in this field')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="col">
                                        <label for="postcodeu">Postcode</label>
                                        <input type="text" class="form-control" id="postcodeu" style="width: 150px;"
                                        pattern=".{1,12}" title="max length: 12" required="required"
                                               oninvalid="this.setCustomValidity('Please fill in this field')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <label for="countryu">Country</label>
                                <input type="text" class="form-control" id="countryu" style="width: 370px"
                                pattern=".{1,50}" title="max length: 50" required="required"
                                       oninvalid="this.setCustomValidity('Please fill in this field')"
                                       oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="savebtna" onclick="editAddress()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="Add" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-32p" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAddressLabel">Add new address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newForm">
                        <div class="row" style="align-items:center; padding-left: 35px">
                            <div class="form-group">
                                <label for="newstreetu">Street</label>
                                <input type="text" class="form-control" id="newstreetu" style="width: 370px;"
                                pattern=".{1,60}" title="max length: 60"required="required"
                                       oninvalid="this.setCustomValidity('Please fill in this field')"
                                       oninput="this.setCustomValidity('')">
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="newhousenumberu">House number</label>
                                        <input type="text" class="form-control" id="newhousenumberu" style="width: 150px"
                                        pattern=".{1,8}" title="max length: 8" required="required"
                                               oninvalid="this.setCustomValidity('Please fill in this field')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="col">
                                        <label for="newapartmentnumberu">Apartment number</label>
                                        <input type="text" class="form-control" id="newapartmentnumberu" style="width: 150px"
                                        pattern=".{0,8}", title="max length: 8">
                                    </div>
                                    <br>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="newcityu">City</label>
                                        <input type="text" class="form-control" id="newcityu"
                                        pattern=".{1,190}" title="max length: 190" required="required"
                                               oninvalid="this.setCustomValidity('Please fill in this field')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                    <div class="col">
                                        <label for="newpostcodeu">Postcode</label>
                                        <input type="text" class="form-control"id="newpostcodeu" style="width: 150px"
                                        pattern=".{1,12}" title="max length: 12" required="required"
                                               oninvalid="this.setCustomValidity('Please fill in this field')"
                                               oninput="this.setCustomValidity('')">
                                    </div>
                                </div>
                                <br>
                                <br>
                                <label for="newcountryu">Country</label>
                                <input type="text" class="form-control" id="newcountryu" style="width: 370px"
                                pattern=".{1,50}" title="max length: 50" required="required"
                                       oninvalid="this.setCustomValidity('Please fill in this field')"
                                       oninput="this.setCustomValidity('')">
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="newsavebtna" onclick="newAddress()">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>




<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/addressScript.js}"></script>


</body>
</html>